body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

ul {
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    width: 200px;
    margin: auto;
    border-radius: 5px;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

.player_one, .player_two {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    width: 500px;
    text-align: center;
}
